<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>YOUR</title>
    <link rel="stylesheet" href="css/style.css">
</head>

<body>
    <div id="containter">
        <h1>WANT TO ADD MORE TO THE LIST?</h1>
        <form action="/action_page.php">
            <input type="text" id="fname" name="fname" value="Game Name Go Here"><br>
            <input type="submit" value="Submit">
        </form> 

        <pre></pre>

        <h2>some links</h2>
        <nav>
            <a href="index.html">Home</a>
            <a href="#">Add to List</a>
            <a href="login.html">Login</a>
        </nav>

    </div>
</body>

</html>