<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DOING</title>
    <link rel="stylesheet" href="css/style.css">
</head>

<body>
    <div id="containter">
        <h1>WELCOME TO MY WEBSITE!!!!</h1>
        <h2>ᕕ(ᐛ)ᕗ My Top Ten Games I Played in 2020 ᕕ(ᐛ)ᕗ</h2>
        <div style="width:400px">
            <ol>
                <li>DOOM Eternal</li>
                <li>Death Stranding</li>
                <li>Yakuza 0</li>
                <li>Ori and the Will of the Wisps</li>
                <li>Spelunky 2</li>
                <li>Hylics 2</li>
                <li>Dishonored</li>
                <li>Control</li>
                <li>Animal Crossing : New Horizons</li>
                <li>Black Mesa</li>
            </ol>
            <p>Starting around late 2018, I realized that I was playing a lot of games, but I wasn't really remembering a lot about them after a while. 
                So I decided to start keeping a list of games that I either beat, or played for a signifigant amount of time. It became a very enjoyable
                hobby to watch the list slowly get bigger as the year went on, and it helped a LOT when thinking about my favorite games from each year.
                And now I have an excuse to show my taste in videogames lol</p>
        </div>
        <h2>some links</h2>
        <nav>
            <a href="#">Home</a>
            <a href="addtolist.html">Add to List</a>
            <a href="login.html">Login</a>
        </nav>
    </div>
</body>

</html>