<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MOM</title>
    <link rel="stylesheet" href="css/style.css">
</head>

<body>
    <div id="containter">
        <h1>The Log-In Page</h1>
        <form action="/action_page.php">
            <label>Username:</label><br>
            <input type="text"><br>
            <label>Password:</label><br>
            <input><br><br>
            <input type="submit" value="Submit">
        </form>
        <pre></pre> 
        <h2>some links</h2>
        <nav>
            <a href="index.html">Home</a>
            <a href="addtolist.html">Add to List</a>
            <a href="#">Login</a>
        </nav>
    </div>
</body>

</html>