<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Static Server Example Using Express</title>
    <link rel="stylesheet" href="css/style.css">
</head>

<body>
    <div id="containter">
        <h1>You are NOT welcome to the Express Static Website Example!!!!</h1>
        <nav>
            <a href="#">Home</a>
            <a href="about.html">About</a>
            <a href="contact.html">Contact</a>
        </nav>
        <img src="images/Capture.png" alt="baby yoda" width=400>
        <div style="width:400px">
            <p>Consectetur minim nulla cupidatat do dolore sint qui. Anim voluptate sint minim incididunt voluptate
                consectetur id minim qui pariatur consequat reprehenderit. Occaecat eu esse adipisicing dolore. Aliquip
                laboris fugiat non voluptate sint Lorem cupidatat consectetur aute ex aute.</p>
        </div>
    </div>
</body>

</html>